# Database
POSTGRES_USER=crm
POSTGRES_PASSWORD=crm
POSTGRES_DB=ndt_crm
DATABASE_URL=postgresql://crm:crm@localhost:5434/ndt_crm

# Auth
JWT_SECRET=change_this_in_production

# AI
GROQ_API_KEY=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

# App
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
